<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天猫tmall.com</title>
</head>
<link rel="stylesheet" href="../static/css/index.css">
<link rel="stylesheet" href="https://at.alicdn.com/t/font_861781_uw18khfrfkc.css">
<body>


<!--楼层跳转-->
    <div id="lou" style="display: none">
        <ol style="background-color:red;color:#fff;line-height: 36px">导航</ol>
        <li>天猫超市</li>
        <li>天猫国际</li>
        <li>美丽人生</li>
        <li>潮电酷玩</li>
        <li>居家生活</li>
        <li>打造爱巢</li>
        <li>户外出行</li>
        <li>猜你喜欢</li>
        <a href="#Name"><ol><em class="iconfont" style="display:block">&#xe60d;</em>顶部</ol></a>
    </div>
<a name="Name"></a>
    <div class="fu">
        <div class="fu-l">
            <img src="../image/yidong/tianmao.webp" alt="">
            <div class="fu-z">
                <input type="text" placeholder="搜索 天猫 商品/店铺/品牌">
                <button>搜索</button>
            </div>
        </div>

    </div>

<!--右侧开始-->
<main id="ce">
    <span class="iconfont" style="bottom:200px">&#xe69b;</span>
    <span style="margin:10px 0;width: 100%;height: 150px;
    border-bottom:1px solid #ccc;border-top:1px solid #ccc;bottom:250px;font-size: 18px;line-height: 24px;padding:20px 0;
    box-sizing: border-box">
        <li class="iconfont" style="font-size: 25px">&#xe601;</li>购物车</span>
    <a href="#Name"><span class="iconfont" style="bottom:0">&#xe665;</span></a>
</main>
<!--右侧结束-->

<!--头部开始-->

    <header>
        <main class="header-box">
            <div class="header-left">
                <ul>喵，欢迎来天猫</ul>
                <ul><span>请登录</span></ul>
                <ul><span>免费注册</span></ul>
            </div>
            <div class="header-right header-top">
                <ul>
                    <span>我的淘宝</span>
                    <em class="iconfont" style="font-size: 10px">&#xe602;</em>
                    <em class="iconfont" style="font-size: 10px;display: none">&#xe60d;</em>
                    <div class="header-dang"></div>
                    <div class="header-tan" style="width: 110px;height: 80px;left:-1px;">
                        <ol>已买到的宝贝</ol>
                        <ol>已卖出的宝贝</ol>
                    </div>
                </ul>
                <li>
                    <em class="iconfont" style="color:#FF0036">&#xe601;</em>
                    <span>购物车<p style="display: inline-block;margin:0 2px">0</p>件</span>
                </li>
                <ul>
                    <span>收藏夹</span>
                    <em class="iconfont" style="font-size: 10px">&#xe602;</em>
                    <em class="iconfont" style="font-size: 10px;display: none">&#xe60d;</em>
                    <div class="header-dang"></div>
                    <div class="header-tan" style="width: 100px;height: 80px;left:-1px;">
                        <ol>收藏的宝贝</ol>
                        <ol>收藏的店铺</ol>
                    </div>
                </ul>
                <li style="width: 1px;height: 15px;margin:0;background-color: #CCCCCC;padding:0"></li>
                <li>
                    <em class="iconfont" style="color:#FF0036">&#xe647;</em>
                    <span>手机版</span>
                </li>
                <li>淘宝网</li>
                <ul>
                    <span>商家支持</span>
                    <em class="iconfont" style="font-size: 10px">&#xe602;</em>
                    <em class="iconfont" style="font-size: 10px;display: none">&#xe60d;</em>
                    <div class="header-dang"></div>
                    <div class="header-tan" style="width: 140px;height: 200px;right:-1px;">
                        <div class="header-shang">
                            <h1>商家：</h1>
                            <div class="header-jia">
                                <h2>商家中心</h2> <h2>天猫规则</h2>
                                <h2>商家入驻</h2> <h2>运营服务</h2>
                                <h2>商家品控</h2> <h2>商家工具</h2>
                                <h2>天猫智库</h2> <h2>喵言喵语</h2>
                            </div>
                            <h1>帮助：</h1>
                            <div class="header-jia">
                                <h2>帮助中心</h2> <h2>问商友</h2>

                            </div>
                        </div>
                    </div>
                </ul>
                <ul>
                    <em class="iconfont" style="color:#FF0036">&#xe600;</em>
                    <span>网站导航</span>
                    <em class="iconfont" style="font-size: 10px">&#xe602;</em>
                    <em class="iconfont" style="font-size: 10px;display: none">&#xe60d;</em>
                    <div class="header-dang"></div>
                    <div class="header-tan" style="width: 1230px;height: 160px;right:-1px;padding:30px 15px;">
                        <div class="header-zhan">
                            <h1 style="color:#F6822A">热点推荐<div style="margin:0 2px;display: inline-block">Hot</div></h1>
                            <ul>
                                <li>天猫超市</li>
                                <li>喵鲜生</li>
                                <li>科技新品</li>
                                <li>女装新品</li>
                                <li>酷玩街</li>
                                <li>内衣新品</li>
                                <li>是美妆</li>
                                <li>运动新品</li>
                                <li>时尚先生</li>
                                <li>精明妈咪</li>
                                <li>吃乐会</li>
                                <li>企业采购</li>
                                <li>会员积分</li>
                                <li>天猫国际</li>
                                <li>品质频道</li>
                            </ul>
                        </div>
                        <div class="header-zhan">
                            <h1 style="color:#739CE4">行业市场<div style="margin:0 2px;display: inline-block">Market</div></h1>
                            <ul>
                                <li>美妆</li>
                                <li>电器</li>
                                <li>女装</li>
                                <li>男装</li>
                                <li>女鞋</li>
                                <li>男鞋</li>
                                <li>内衣</li>
                                <li>箱包</li>
                                <li>运动</li>
                                <li>母婴</li>
                                <li>家装</li>
                                <li>医药</li>
                                <li>食品</li>
                                <li>配饰</li>
                                <li>汽车</li>
                            </ul>
                        </div>
                        <div class="xian"></div>
                        <div class="header-zhan header-zhan1" style="width: 225px;border:none;">
                            <h1 style="color:#A3A3A3">服务指南<div style="display: inline-block">Help</div></h1>
                            <ul>
                                <li>帮助中心</li>
                                <li>品质保障</li>
                                <li>特色服务</li>
                                <li>七天退换货</li>
                            </ul>
                        </div>
                    </div>
            </div>
        </main>
    </header>
<!--头部结束-->

<!--搜索开始-->
    <section id="sou">
        <main class="sou">
            <img src="../image/tmall.png" alt="">
            <div class="suo">
                <input type="text" placeholder="搜索 天猫 商品/店铺/品牌">
                <button>搜索</button>
                <ul class="biaoti">
                    <li><a href="">针织衫</a></li>
                    <li><a href="" style="color: #ff0036">连衣裙</a></li>
                    <li><a href="">四件套</a></li>
                    <li><a href="" style="color: #ff0036">摄像头</a></li>
                    <li><a href="">客厅灯</a></li>
                    <li><a href="">口红</a></li>
                    <li><a href="" style="color: #ff0036">手机</a></li>
                    <li><a href="">运动鞋</a></li>
                    <li style="border:none;"><a href="" style="color: #ff0036;">牛奶</a></li>
                </ul>
            </div>
        </main>
    </section>
<!--搜索结束-->

<!--banner图开始-->
    <div class="banner-top">
        <div class="banner-top1"><em class="iconfont" style="font-size: 20px">&#xe600;</em>
            <h1 style="display: inline-block">商品分类</h1></div>
        <div class="banner-top2">
            <img src="../image/banner/chao.png" alt="">
            <img src="../image/banner/guo.png" alt="">
            <li>天猫会员</li><li>电器城</li><li>喵鲜生</li><li>医药馆</li><li>营业厅</li>
            <li>魅力惠</li><li>飞猪旅行</li><li>苏宁易购</li>
        </div>
    </div>
    <section id="banner">
        <main class="banner">
            <ul>
                <li class="zi"><em class="iconfont">&#xe617;</em>
                    <span>女装</span>/<span>内衣</span>
                    <div class="b-tan" style="display: none">
                        <div class="b-tan-left">1

                        </div>
                        <div class="b-tan-right">

                        </div>
                    </div>
                </li>
                <li class="lan"><em class="iconfont">&#xe863;</em>
                    <span>男装</span>/<span>运动户外</span>
                    <div class="b-tan" style="display: none">
                        <div class="b-tan-left">2

                        </div>
                        <div class="b-tan-right">

                        </div>
                    </div>
                </li>
                <li class="lan"><em class="iconfont">&#xe606;</em>
                    <span>女鞋</span>/<span>男鞋</span>/<span>箱包</span>
                    <div class="b-tan" style="display: none">
                        <div class="b-tan-left">3

                        </div>
                        <div class="b-tan-right">

                        </div>
                    </div>
                </li>
                <li class="zi"><em class="iconfont">&#xe618;</em>
                    <span>美妆</span>/<span>个人护理</span>
                    <div class="b-tan" style="display: none">
                        <div class="b-tan-left">4

                        </div>
                        <div class="b-tan-right">

                        </div>
                    </div>
                </li>
                <li class="lan"><em class="iconfont">&#xe7b3;</em>
                    <span>腕表</span>/<span>眼镜</span>/<span>珠宝饰品</span>
                    <div class="b-tan" style="display: none">
                        <div class="b-tan-left"><h1 style="color:#000">5</h1>

                        </div>
                        <div class="b-tan-right">

                        </div>
                    </div>
                </li>
                <li class="lan"><em class="iconfont">&#xe647;</em>
                    <span>手机</span>/<span>数码</span>/<span>电脑办公</span>
                    <div class="b-tan" style="display: none">
                        <div class="b-tan-left">
2
                        </div>
                        <div class="b-tan-right">

                        </div>
                    </div>
                </li>
                <li class="zi"><em class="iconfont">&#xe626;</em>
                    <span>母婴玩具</span>
                    <div class="b-tan" style="display: none">
                        <div class="b-tan-left">
3
                        </div>
                        <div class="b-tan-right">

                        </div>
                    </div>
                </li>
                <li class="hu"><em class="iconfont">&#xe670;</em>
                    <span>零食</span>/<span>茶酒</span>/<span>进口食品</span>
                    <div class="b-tan" style="display: none">
                        <div class="b-tan-left">6

                        </div>
                        <div class="b-tan-right">

                        </div>
                    </div>
                </li>
                <li class="lan"><em class="iconfont">&#xe603;</em>
                    <span>生鲜水果</span>
                    <div class="b-tan" style="display: none">
                        <div class="b-tan-left">7

                        </div>
                        <div class="b-tan-right">

                        </div>
                    </div>
                </li>
                <li class="lan"><em class="iconfont">&#xe64f;</em>
                    <span>大家电</span>/<span>生活电器</span>
                    <div class="b-tan" style="display: none">
                        <div class="b-tan-left">8

                        </div>
                        <div class="b-tan-right">

                        </div>
                    </div>
                </li>
                <li class="zi"><em class="iconfont">&#xe650;</em>
                    <span>家具建材</span>
                    <div class="b-tan" style="display: none">
                        <div class="b-tan-left">9

                        </div>
                        <div class="b-tan-right">

                        </div>
                    </div>
                </li>
                <li class="lan"><em class="iconfont">&#xe604;</em>
                    <span>汽车</span>/<span>配件</span>/<span>用品</span>
                    <div class="b-tan" style="display: none">
                        <div class="b-tan-left">11

                        </div>
                        <div class="b-tan-right">

                        </div>
                    </div>
                </li>
                <li class="lan"><em class="iconfont">&#xe608;</em>
                    <span>家纺</span>/<span>家饰</span>/<span>鲜花</span>
                    <div class="b-tan" style="display: none">
                        <div class="b-tan-left">12

                        </div>
                        <div class="b-tan-right">

                        </div>
                    </div>
                </li>
                <li class="lv"><em class="iconfont">&#xe61e;</em>
                    <span>医药保健</span>
                    <div class="b-tan" style="display: none">
                        <div class="b-tan-left">13

                        </div>
                        <div class="b-tan-right">

                        </div>
                    </div>
                </li>
                <li class="zi"><em class="iconfont">&#xe624;</em>
                    <span>厨具</span>/<span>收纳</span>/<span>宠物</span>
                    <div class="b-tan" style="display: none">
                        <div class="b-tan-left">14

                        </div>
                        <div class="b-tan-right">

                        </div>
                    </div>
                </li>
                <li class="lv"><em class="iconfont">&#xe66f;</em>
                    <span>图书音像</span>
                    <div class="b-tan" style="display: none">
                        <div class="b-tan-left">15

                        </div>
                        <div class="b-tan-right">

                        </div>
                    </div>
                </li>
            </ul>
            <ol style="z-index: 10"><img src="../image/banner/banner4.webp" alt="">
                <div class="ol-top"><img src="../image/banner/banner21.webp" alt=""></div>
                <div class="ol-bottom"><img src="../image/banner/banner22.webp" alt=""></div>
            </ol>
            <ol><img src="../image/banner/banner1.jpg" alt=""></ol>
            <ol><img src="../image/banner/banner3.jpg" alt="">
                <div class="ol-top"><img src="../image/banner/banner23.webp" alt=""></div>
                <div class="ol-bottom"><img src="../image/banner/banner24.webp" alt=""></div>
            </ol>
            <ol><img src="../image/banner/banner2.jpg" alt=""></ol>
            <ol><img src="../image/banner/banner5.webp" alt="">
                <div class="ol-top"><img src="../image/banner/banner25.webp" alt=""></div>
                <div class="ol-bottom"><img src="../image/banner/banner26.webp" alt=""></div>
            </ol>
            <ol><img src="../image/banner/banner3.webp" alt="">
                <div class="ol-top"><img src="../image/banner/banner27.webp" alt=""></div>
                <div class="ol-bottom"><img src="../image/banner/banner28.webp" alt=""></div>
            </ol>

            <div class="b-dianbox">
                <div class="b-dian" style="background-color: #fff"></div>
                <div class="b-dian"></div>
                <div class="b-dian"></div>
                <div class="b-dian"></div>
                <div class="b-dian"></div>
                <div class="b-dian"></div>
            </div>
        </main>
    </section>
<!--banner图结束-->


<!--换新开始-->
<section id="huan">
    <div class="huan"><img src="../image/xin/xin.png" alt=""></div>
    <div class="xin">
        <img src="../image/xin/1.webp" alt="">
        <img src="../image/xin/2.webp" alt="">
        <img src="../image/xin/3.webp" alt="">
        <img src="../image/xin/4.webp" alt="">
        <img src="../image/xin/5.webp" alt="">
    </div>
</section>
<!--换新结束-->

<!--品牌开始-->
    <section id="pin">
        <main class="pin">
            <div class="pin-box" style="width: 234px;">
                <div class="pin-top">
                    <li>品牌闪购<span style="margin:0 10px">BRAND SALE</span></li>
                    <em class="iconfont" style="float: right;margin:0 20px 0 0;">&#xe605;</em>
                </div>
                <div class="pin-shan"></div>
            </div>
            <div class="pin-box">
                <div class="pin-top">
                    <li>聚名品<span style="margin:0 10px">LUXURY CHANNEL</span></li>
                    <ol style="float:right;margin:0 20px 0 0;"><h1 style='font-size: 15px;display: inline-block;font-weight: 400'>更多</h1>
                        <em class="iconfont" style="margin-left:10px">&#xe605;</em></ol>
                </div>
                <div class="pin-ming"></div>
            </div>
            <div class="pin-box">
                <div class="pin-top">
                    <li>品牌活动<span style="margin:0 10px">BRAND ACTIVITYR</span></li>
                    <ol style="float:right;margin:0 20px 0 0;"><h1 style='font-size: 15px;display: inline-block;font-weight: 400'>更多</h1>
                        <em class="iconfont" style="margin-left:10px">&#xe605;</em></ol>
                </div>
                <div class="pin-huo"></div>
            </div>
        </main>
    </section>
<!--品牌结束-->

<!--品牌2开始-->
    <section id="pai">
        <main class="pai">
            <ul><img src="../image/pinpai/1.webp" alt="">
                <div class="pai-img">
                    <h1>T</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/1.webp" alt="">
                <div class="pai-img">
                    <h1>bolulu</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/3.webp" alt="">
                <div class="pai-img">
                    <h1>Sefon/臣枫</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/4.webp" alt="">
                <div class="pai-img">
                    <h1>EVE‘NY/伊芙心悦</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/5.webp" alt="">
                <div class="pai-img">
                    <h1>SUSONGETH/首尚格释</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/6.webp" alt="">
                <div class="pai-img">
                    <h1>喜马拉雅好声音</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/7.webp" alt="">
                <div class="pai-img">
                    <h1>Schneider Electric/施耐德</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/8.webp" alt="">
                <div class="pai-img">
                    <h1>Crystaluxe</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/9.webp" alt="">
                <div class="pai-img">
                    <h1>优惠券 ￥30</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/10.webp" alt="">
                <div class="pai-img">
                    <h1>ENFINITAS/蓝臻</h1>
                    <div>点击进入</div>
                </div>
            </ul>

            <ul><img src="../image/pinpai/11.webp" alt="">
                <div class="pai-img">
                    <h1>奔富酒园</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/11.webp" alt="">
                <div class="pai-img">
                    <h1>优惠券 ￥50</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/11.webp" alt="">
                <div class="pai-img">
                    <h1>布朗天使</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/14.webp" alt="">
                <div class="pai-img">
                    <h1>Skin Menu/肌肤之食</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/11.webp" alt="">
                <div class="pai-img">
                    <h1>Aide Baou/爱得堡</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/16.webp" alt="">
                <div class="pai-img">
                    <h1>普哆衣</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/17.webp" alt="">
                <div class="pai-img">
                    <h1>GateMan</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/18.webp" alt="">
                <div class="pai-img">
                    <h1>依纳</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/11.webp" alt="">
                <div class="pai-img">
                    <h1>Pinterchains/品特链条</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/11.webp" alt="">
                <div class="pai-img">
                    <h1>米皇</h1>
                    <div>点击进入</div>
                </div>
            </ul>

            <ul><img src="../image/pinpai/21.webp" alt="">
                <div class="pai-img">
                    <h1>Plasmon</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/21.webp" alt="">
                <div class="pai-img">
                    <h1>Difiney/蒂芬妮</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/11.webp" alt="">
                <div class="pai-img">
                    <h1>ROYAL CANIN/皇家</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/24.webp" alt="">
                <div class="pai-img">
                    <h1>优惠券 ￥100</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/25.webp" alt="">
                <div class="pai-img">
                    <h1>澜</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/25.webp" alt="">
                <div class="pai-img">
                    <h1>Racekish</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/25.webp" alt="">
                <div class="pai-img">
                    <h1>卫洗丽</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/28.webp" alt="">
                <div class="pai-img">
                    <h1>J Brand</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul><img src="../image/pinpai/29.webp" alt="">
                <div class="pai-img">
                    <h1>杭依阁</h1>
                    <div>点击进入</div>
                </div>
            </ul>
            <ul style="background-color: #fff">
                <span style="line-height: 108px">换一批</span>
            </ul>
        </main>
    </section>
<!--品牌2结束-->

<!--超市开始-->
<div class="tiann">
    <section id='chao' class="chao">
        <main class="chao-top">
            <img src="../image/chaoshi1.png" alt="">
            <div class="chao-topr" style="margin-top:8px;">
                <span>进口食品</span>
                <span>食品饮料</span>
                <span>粮油副食</span>
                <span>美容洗护</span>
                <span>家具家电</span>
                <span>家庭清洁</span>
                <span>母婴用品</span>
                <span>生鲜水果</span>
            </div>
        </main>
        <main class="chao-box">
            <div class="chao-long">
                <img src="../image/shop/log.jpg" alt="">
                <div class="chao-long-left">天猫超市</div>
                <div class="chao-long-right">
                    <span>金秋焕肤季</span>
                    <span>99减50</span>
                </div>
                <em class="iconfont" style="position: absolute;bottom:10px;
                    right:10px;font-size: 40px;color:#fff">&#xe605;</em>
            </div>
            <div class="chao_box">
                <div class="chao-bbox" style="width: 484px;height: 302px;">
                    <div class="chao-dong">
                        <div class="chao-left chao-right" style="left:0;">今日疯抢</div>
                        <div class="chao-left" style="right:0;">量贩装</div>
                        <div class="chao-nei" style="z-index:10">
                            <img src="../image/shop/chao1.jpg" alt="">
                            <div class="chao-jian">
                                <li><img src="../image/rili.png" alt="">限时限量疯抢</li>
                                <li>1元超值疯抢中</li>
                            </div>
                        </div>
                        <div class="chao-nei">
                            <img src="../image/shop/chao2.jpg" alt="">
                            <div class="chao-jian">
                                <li><img src="../image/rili.png" alt="">蒙牛特仑苏纯奶</li>
                                <li>仅4.3元/盒</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chao-xbox">
                    <img src="../image/shop/chao3.jpg" alt="">
                    <span>白猫柠檬薄荷洗洁精2kg * 2温和不伤手清新易过水</span>
                    <h1>￥29.9</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/shop/chao4.jpg" alt="">
                    <span>轩尧雷笋400g</span>
                    <h1>￥15.9</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/shop/chao5.jpg" alt="">
                    <span>怡达0添加山楂条380g 山楂制品 山楂蜜饯果脯 休闲零食</span>
                    <h1>￥17.9</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/shop/chao6.jpg" alt="">
                    <span>葡萄枝子除尘掸可弯曲伸缩家用手柄鸡毛掸颜色随机</span>
                    <h1>￥29.9</h1></div>
                <div class="chao-xbox">
                    <img src="../image/shop/chao7.jpg" alt="">
                    <span>GP超霸7号40粒电池 七号高能无汞碳性干电池儿童玩具遥控器AAA</span>
                    <h1>￥22.9</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/shop/chao8.jpg" alt="">
                    <span>雕牌全渍净洗衣液1.7kg*2依兰幽香深层去渍 柔软舒适</span>
                    <h1>￥59.9</h1>
                </div>
            </div>
        </main>
    </section>
</div>
<!--超市结束-->

<!--天猫国际开始-->
<div class="tiann">
    <section id="guo" class="chao">
        <main class="chao-top">
            <img src="../image/chaoshi.png" alt="">
            <div class="chao-topr" style="margin-top:8px;">
                <span>口红</span>
                <span>YSL</span>
                <span>面霜</span>
                <span>防晒</span>
                <span>奥迪</span>
            </div>
        </main>
        <main class="chao-box" style="width: 100%;height: 615px;">
            <div class="chao-cbox" style="position: relative">

                <img style='width: 100%;height: 100%;' src="../image/guoji/1.png" alt="">
                <div class="chao-long-left" style="bottom:50px;">进口精选</div>
                <div class="chao-long-right" style="bottom:50px;">
                    <span>大牌好货</span>
                    <span>轻松购入</span>
                </div>
                <em class="iconfont" style="position: absolute;bottom:5px;
                    right:10px;font-size: 30px;color:#fff">&#xe605;</em>
            </div>
            <div class="chao-xbox">
                <h1 style="font-size: 15px;margin:20px 0 0 30px;color:#000;text-align: left;font-weight: 400">官方直营优选</h1>
                <h1 style="font-size: 13px;margin:0 0 20px 30px;color:blue;text-align: left;font-weight: 400">机制购物感受</h1>
                <img src="../image/guoji/2.png" alt="" style="margin-bottom:20px">
            </div>
            <div class="chao-xbox">
                <img src="../image/guoji/3.jpg" alt="">
                <span>Shiseido/资生堂UNO男士泡沫洗面奶蓝色超保湿洁净洁面乳130g*2</span>
                <h1>￥59</h1>
            </div>
            <div class="chao-xbox">
                <img src="../image/guoji/4.jpg" alt="">
                <span>【日本】beautybar 24KT头黄金棒美容棒瘦脸震动V脸美容仪神器</span>
                <h1>￥499</h1></div>
            <div class="chao-xbox">
                <img src="../image/guoji/5.jpg" alt="">
                <span>6瓶 好健康goodhealth牡蛎片胶囊新西兰生蚝精oyster增大plus男性</span>
                <h1>￥479</h1>
            </div>
            <div class="chao-cbox" style="position: relative">

                <img style='width: 100%;height: 100%;' src="../image/guoji/6.png" alt="">
                <div class="chao-long-left" style="bottom:50px;">直营品质</div>
                <div class="chao-long-right" style="bottom:50px;">
                    <span>放心体验</span>
                    <span>畅享全球</span>
                </div>
                <em class="iconfont" style="position: absolute;bottom:5px;
                    right:10px;font-size: 30px;color:#fff">&#xe605;</em>
            </div>
            <div class="chao-xbox">
                <img src="../image/guoji/7.jpg" alt="">
                <span>中村树之惠进口润理肠胃天然足贴脚贴足底贴30片 西柚香型</span>
                <h1>￥95</h1>
            </div>
            <div class="chao-xbox">
                <img src="../image/guoji/8.png" alt="">
                <span>【直营】美国进口钙尔奇钙片+维生素D矿物质150粒迷你颗粒</span>
                <h1>￥119</h1>
            </div>
            <div class="chao-xbox">
                <img src="../image/guoji/9.png" alt="">
                <span>广州保税发澳洲原装进口TOM天然棉超薄进口卫生巾夜用275mm*10片</span>
                <h1>￥59</h1>
            </div>
            <div class="chao-xbox">
                <img src="../image/guoji/10.jpg" alt="">
                <span>韩国进口正品爱茉莉86麦迪安Median清新美白去渍去口臭牙膏3支装</span>
                <h1>￥48</h1>
            </div>
        </main>
    </section>
</div>
<!--天猫国际结束-->
<div class="beijing1">
</div>
<!--美丽人生开始-->
<div class="tiann">
    <section id='mei' class="chao">
        <main class="chao-top">
            <div class="chao-topl">
                <div class="chao-ltop"></div>
                <h1 style="float: left;font-size: 20px;line-height: 30px;margin:0 10px">美丽人生</h1>
                <h2 style="float: left;font-size: 15px;line-height: 35px">FASHION & BEAUTY</h2>
            </div>
            <div class="chao-topr" style="margin-top:8px;">
                <span>连衣裙</span>
                <span>T恤男</span>
                <span>美容护肤</span>
                <span>休闲男鞋</span>
                <span>黄金项链</span>
                <span>单鞋</span>
                <span>女包</span>
                <span>文胸</span>
                <span>大牌腕表</span>
            </div>
        </main>
        <main class="chao-box">
            <div class="chao-long">
                <img src="../image/mei/log.jpg" alt="">
                <div class="chao-long-left">秋冬尚新</div>
                <div class="chao-long-right">
                    <span>手表眼镜</span>
                    <span>满400减40</span>
                </div>
                <em class="iconfont" style="position: absolute;bottom:10px;
                    right:10px;font-size: 40px;color:#fff">&#xe605;</em>
            </div>
            <div class="chao_box">
                <div class="chao-xbox">
                    <img src="../image/mei/1.jpg" alt="">
                    <span>NIANJEEP吉普盾男士休闲夹克2018款纯棉短款夹克衫宽松大码外套男</span>
                    <h1>￥238</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/mei/2.jpg" alt="">
                    <span>Daphne/达芙妮奥思文鞋柜气垫跑步运动鞋防滑时尚休闲男鞋板鞋男</span>
                    <h1>￥69</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/mei/3.jpg" alt="">
                    <span>亏本清仓打折  卡拉羊拉杆箱密码箱行李箱20吋n24吋旅行箱</span>
                    <h1>￥129</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/mei/4.jpg" alt="">
                    <span>乔丹男鞋全黑色越野跑步鞋大网眼面透气运动鞋猫爪越野爬山旅游鞋</span>
                    <h1>￥179</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/mei/5.jpg" alt="">
                    <span>Menard/美伊娜多会员专享 月华水润按摩霜套盒</span>
                    <h1>￥320</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/mei/6.jpg" alt="">
                    <span>环球百搭小白鞋女夏季韩版2018新款镂空帆布鞋女透气板鞋学生白鞋</span>
                    <h1>￥49</h1></div>
                <div class="chao-xbox">
                    <img src="../image/mei/7.jpg" alt="">
                    <span>手表带男女士真皮带蝴蝶扣配件代用天梭浪琴卡西欧美度精工表链</span>
                    <h1>￥128</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/mei/8.jpg" alt="">
                    <span>中老年阔腿裤女棉绸薄款高腰宽松紧妈妈广场舞花裤裙裤大码女裤夏</span>
                    <h1>￥29</h1>
                </div>
            </div>
        </main>
    </section>
</div>
<!--美丽人生结束-->
<div class="beijing2">

</div>
<!--潮电酷玩开始-->
<div class="tiann">
    <section id='ku' class="chao">
        <main class="chao-top">
            <div class="chao-topl">
                <div class="chao-ltop"></div>
                <h1 style="float: left;font-size: 20px;line-height: 30px;margin:0 10px">潮电酷玩</h1>
                <h2 style="float: left;font-size: 15px;line-height: 35px">ELECTRONICS</h2>
            </div>
            <div class="chao-topr" style="margin-top:8px;">
                <span>手机</span>
                <span>iPhone</span>
                <span>相机</span>
                <span>数码配件</span>
                <span>影音电玩</span>
                <span>生活电器</span>
                <span>个人护理</span>
                <span>电脑硬件</span>
                <span>笔记本</span>
            </div>
        </main>
        <main class="chao-box">
            <div class="chao-long">
                <img src="../image/dian/log.jpg" alt="">
                <div class="chao-long-left">立即抢购</div>
                <div class="chao-long-right">
                    <span>爆款五折购</span>
                    <span>新机抢货抢</span>
                </div>
                <em class="iconfont" style="position: absolute;bottom:10px;
                    right:10px;font-size: 40px;color:#fff">&#xe605;</em>
            </div>
            <div class="chao_box">
                <div class="chao-xbox">
                    <img src="../image/dian/1.jpg" alt="">
                    <span>NIANJEEPSee Me Here/不见不散 T600教学扩音器小蜜蜂导游腰挂教师</span>
                    <h1>￥128</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/dian/2.jpg" alt="">
                    <span>智能手环男蓝牙耳机二合一可通话分离式睡眠血压心率运动睡眠二合一计步器oppo苹果vivo通用腕带男女健康手表</span>
                    <h1>￥288</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/dian/3.jpg" alt="">
                    <span>F6手机电脑直播套装声卡吃鸡游戏语微信语音声音变声器软件男变女萝莉音女变男话筒麦克风刺激战场安卓伪音</span>
                    <h1>￥99</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/dian/4.jpg" alt="">
                    <span>惠普u盘64g高速usb3.0迷你车载防水个性创意礼品礼物男女学生商务卡通可爱情侣优盘原装正版电脑两用移动u盘</span>
                    <h1>￥94.9</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/dian/5.jpg" alt="">
                    <span>Aigo/爱国者 V28 高保真语音复读机U盘TF卡MP3磁带播放器</span>
                    <h1>￥168</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/dian/6.jpg" alt="">
                    <span>金士顿TF 64G TF MicroSD存储卡64gb高速手机内存卡class10 80m/s</span>
                    <h1>￥75</h1></div>
                <div class="chao-xbox">
                    <img src="../image/dian/7.jpg" alt="">
                    <span>TCL 移动固话座机GF100无线插卡电话机座机 移动固话手机SIM卡</span>
                    <h1>￥99</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/dian/8.jpg" alt="">
                    <span>德国巨炮耳机头戴式手机电脑耳麦苹果音乐重低音GARINEMAX A12</span>
                    <h1>￥79</h1>
                </div>
            </div>
        </main>
    </section>
</div>
<!--潮电酷玩结束-->

<!--居家生活开始-->
<div class="tiann"></div>
    <section id='ju' class="chao">
        <main class="chao-top">
            <div class="chao-topl">
                <div class="chao-ltop"></div>
                <h1 style="float: left;font-size: 20px;line-height: 30px;margin:0 10px">居家生活</h1>
                <h2 style="float: left;font-size: 15px;line-height: 35px">GROCERY & HEALTH</h2>
            </div>
            <div class="chao-topr" style="margin-top:8px;">
                <span>零食</span>
                <span>牛奶</span>
                <span>居家饰品</span>
                <span>保温杯</span>
                <span>保健品</span>
                <span>常用药</span>
                <span>热门图书</span>
                <span>洗发水</span>
                <span>卫生巾</span>
                <span>家庭清洁</span>
                <span>狗粮</span>
            </div>
        </main>
        <main class="chao-box">
            <div class="chao-long">
                <img src="../image/jia/log.jpg" alt="">
                <div class="chao-long-left">汽车用品</div>
                <div class="chao-long-right">
                    <span>国庆专享</span>
                    <span>立减30元</span>
                </div>
                <em class="iconfont" style="position: absolute;bottom:10px;
                    right:10px;font-size: 40px;color:#fff">&#xe605;</em>
            </div>
            <div class="chao_box">
                <div class="chao-xbox">
                    <img src="../image/jia/1.jpg" alt="">
                    <span>口水娃口水鱼260g湖南小吃零食整箱麻辣小鱼干即食零食散装批发</span>
                    <h1>￥168</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/jia/2.jpg" alt="">
                    <span>富光双层玻璃杯 男女办公泡茶师独立茶仓茶水分离防漏带盖礼盒装</span>
                    <h1>￥69</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/jia/3.jpg" alt="">
                    <span>绿伞蔬果洗洁精清洗液2瓶 水果蔬菜餐具洗涤灵洗碗剂</span>
                    <h1>￥29.9</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/jia/4.jpg" alt="">
                    <span>耐威克天然猫粮真鱼三文鱼1.3kg低盐去毛球理想体态室内猫主粮</span>
                    <h1>￥43</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/jia/5.jpg" alt="">
                    <span>齐心L201 经济型垃圾桶圆篓清洁桶加厚蓝色塑料办公垃圾娄废纸篓</span>
                    <h1>￥118</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/jia/6.jpg" alt="">
                    <span>得力记号笔双头油性记号笔粗大头笔防物流记号笔黑色马克笔粗笔物流标记笔光盘笔涂鸦笔水</span>
                    <h1>￥2.5</h1></div>
                <div class="chao-xbox">
                    <img src="../image/jia/7.jpg" alt="">
                    <span>妙洁魔吸对折式胶棉拖把头替换装 挤水海绵拖把配件 拖把头0479</span>
                    <h1>￥15.9</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/jia/8.jpg" alt="">
                    <span>塑料 量杯量勺10件套装 烘焙实用工具 1g~200g</span>
                    <h1>￥9.9</h1>
                </div>
            </div>
        </main>
    </section>
<!--居家生活结束-->

<!--打造爱巢开始-->
<div class="tiann">
    <section id='ai' class="chao">
        <main class="chao-top">
            <div class="chao-topl">
                <div class="chao-ltop"></div>
                <h1 style="float: left;font-size: 20px;line-height: 30px;margin:0 10px">打造爱巢</h1>
                <h2 style="float: left;font-size: 15px;line-height: 35px">HOME</h2>
            </div>
            <div class="chao-topr" style="margin-top:8px;">
                <span>家具</span>
                <span>大家电</span>
                <span>四件套</span>
                <span>健康电器</span>
                <span>厨房电器</span>
                <span>吸顶灯</span>
                <span>平板电脑</span>
                <span>装修设计</span>
                <span>跑步机</span>
            </div>
        </main>
        <main class="chao-box">
            <div class="chao-long">
                <img src="../image/da/log.jpg" alt="">
                <div class="chao-long-left">立即下单</div>
                <div class="chao-long-right">
                    <span>满8000</span>
                    <span>减800</span>
                </div>
                <em class="iconfont" style="position: absolute;bottom:10px;
                    right:10px;font-size: 40px;color:#fff">&#xe605;</em>
            </div>
            <div class="chao_box">
                <div class="chao-xbox">
                    <img src="../image/da/1.jpg" alt="">
                    <span>NIANJEEP吉普盾男士休闲夹克2018款纯棉短款夹克衫宽松大码外套男</span>
                    <h1>￥238</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/da/2.jpg" alt="">
                    <span>Daphne/达芙妮奥思文鞋柜气垫跑步运动鞋防滑时尚休闲男鞋板鞋男</span>
                    <h1>￥69</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/da/3.jpg" alt="">
                    <span>亏本清仓打折  卡拉羊拉杆箱密码箱行李箱20吋n24吋旅行箱</span>
                    <h1>￥129</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/da/4.jpg" alt="">
                    <span>乔丹男鞋全黑色越野跑步鞋大网眼面透气运动鞋猫爪越野爬山旅游鞋</span>
                    <h1>￥179</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/da/5.jpg" alt="">
                    <span>Menard/美伊娜多会员专享 月华水润按摩霜套盒</span>
                    <h1>￥320</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/da/6.jpg" alt="">
                    <span>环球百搭小白鞋女夏季韩版2018新款镂空帆布鞋女透气板鞋学生白鞋</span>
                    <h1>￥49</h1></div>
                <div class="chao-xbox">
                    <img src="../image/da/7.jpg" alt="">
                    <span>手表带男女士真皮带蝴蝶扣配件代用天梭浪琴卡西欧美度精工表链</span>
                    <h1>￥128</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/da/8.jpg" alt="">
                    <span>中老年阔腿裤女棉绸薄款高腰宽松紧妈妈广场舞花裤裙裤大码女裤夏</span>
                    <h1>￥29</h1>
                </div>
            </div>
        </main>
    </section>
</div>
<!--打造爱巢结束-->
<div class="beijing3">

</div>
<!--户外出行开始-->
<div class="tiann">
    <section id='mei' class="chao">
        <main class="chao-top">
            <div class="chao-topl">
                <div class="chao-ltop"></div>
                <h1 style="float: left;font-size: 20px;line-height: 30px;margin:0 10px">户外出行</h1>
                <h2 style="float: left;font-size: 15px;line-height: 35px">OUTDOORS & AUTOMOTIVE</h2>
            </div>
            <div class="chao-topr" style="margin-top:8px;">
                <span>车秒贷</span>
                <span>皮肤衣</span>
                <span>运动鞋</span>
                <span>4s保养</span>
                <span>行车记录仪</span>
                <span>轮胎</span>
            </div>
        </main>
        <main class="chao-box">
            <div class="chao-long">
                <img src="../image/hu/log.jpg" alt="">
                <div class="chao-long-left">潮流运动</div>
                <div class="chao-long-right">
                    <span>大牌钜惠</span>
                    <span>出游嗨购</span>
                </div>
                <em class="iconfont" style="position: absolute;bottom:10px;
                    right:10px;font-size: 40px;color:#fff">&#xe605;</em>
            </div>
            <div class="chao_box">
                <div class="chao-xbox">
                    <img src="../image/hu/1.jpg" alt="">
                    <span>NIANJEEP吉普盾男士休闲夹克2018款纯棉短款夹克衫宽松大码外套男</span>
                    <h1>￥238</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/hu/2.jpg" alt="">
                    <span>Daphne/达芙妮奥思文鞋柜气垫跑步运动鞋防滑时尚休闲男鞋板鞋男</span>
                    <h1>￥69</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/hu/3.jpg" alt="">
                    <span>亏本清仓打折  卡拉羊拉杆箱密码箱行李箱20吋n24吋旅行箱</span>
                    <h1>￥129</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/hu/4.jpg" alt="">
                    <span>乔丹男鞋全黑色越野跑步鞋大网眼面透气运动鞋猫爪越野爬山旅游鞋</span>
                    <h1>￥179</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/hu/5.jpg" alt="">
                    <span>Menard/美伊娜多会员专享 月华水润按摩霜套盒</span>
                    <h1>￥320</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/hu/6.jpg" alt="">
                    <span>环球百搭小白鞋女夏季韩版2018新款镂空帆布鞋女透气板鞋学生白鞋</span>
                    <h1>￥49</h1></div>
                <div class="chao-xbox">
                    <img src="../image/hu/7.jpg" alt="">
                    <span>手表带男女士真皮带蝴蝶扣配件代用天梭浪琴卡西欧美度精工表链</span>
                    <h1>￥128</h1>
                </div>
                <div class="chao-xbox">
                    <img src="../image/hu/8.jpg" alt="">
                    <span>中老年阔腿裤女棉绸薄款高腰宽松紧妈妈广场舞花裤裙裤大码女裤夏</span>
                    <h1>￥29</h1>
                </div>
            </div>
        </main>
    </section>
</div>
<!--户外出行结束-->

<!--猜你喜欢开始-->
<div class="tiann">
    <section id="cai">
        <div class="cai-top">
            <div class="cai-duan"></div>
            <h1 style="margin:0 10px"><em class="iconfont" style="margin:0 2px;font-size: 25px;color:red">&#xe607;</em>
                <span>猜你喜欢</span></h1>
            <div class="cai-duan"></div>
        </div>
        <div class="cai">
            <main class="cai-box">
                <img src="../image/cai/1.jpg" alt="">
                <div class="cai-di">
                    <h1>【限时12期免息 选套餐一送配件礼包】Apple/苹果 iPhone Xs Max移动联通电信全网通4G手机 苹果Xs max</h1>
                    <h2>￥9500.0</h2>
                </div>
            </main>
            <main class="cai-box">
                <img src="../image/cai/2.jpg" alt="">
                <div class="cai-di">
                    <h1>Xiaomi/小米 小米电视4A 65英寸4k超高清智能液晶网络电视60 70</h1>
                    <h2>￥3699.0</h2>
                </div>
            </main>
            <main class="cai-box">
                <img src="../image/cai/3.jpg" alt="">
                <div class="cai-di">
                    <h1>[12期分期][两年保修]Apple/苹果 iPad 2018款 9.7英寸wifi新款平板电脑32G/128G 正品国行新品授权旗舰店</h1>
                    <h2>￥2398.0</h2>
                </div>
            </main>
            <main class="cai-box">
                <img src="../image/cai/4.jpg" alt="">
                <div class="cai-di">
                    <h1>sk-iisk2神仙水skii护肤精华露护肤套装补水保湿紧致肌肤提亮肤色</h1>
                    <h2>￥1450.0</h2>
                </div>
            </main>
            <main class="cai-box">
                <img src="../image/cai/5.jpg" alt="">
                <div class="cai-di">
                    <h1>科沃斯地宝DN55扫地机器人吸尘器智能家用超薄全自动洗擦地机拖地</h1>
                    <h2>￥2999.0</h2>
                </div>
            </main>
        </div>

    </section>
</div>
<!--猜你喜欢结束-->

<!--底部开始-->
    <footer>
        <main class="di-top">
            <div class="di-1"></div>
            <div class="di-2"></div>
            <div class="di-3"></div>
            <div class="di-4"></div>
        </main>
        <main class="di-nei">
            <div class="di-nei-box">
                <li style="font-weight: 800;margin:10px 0; ">购物指南</li>
                <li>免费注册</li>
                <li>开通支付宝</li>
                <li>支付宝充值</li>
            </div>
            <div class="di-nei-box">
                <li style="font-weight: 800;margin:10px 0; ">天猫保障</li>
                <li>发票保障</li>
                <li>售后规则</li>
                <li>缺货赔付</li>
            </div>
            <div class="di-nei-box">
                <li style="font-weight: 800;margin:10px 0; ">支付方式</li>
                <li>快捷支付</li>
                <li>信用卡</li>
                <li>余额宝</li>
                <li>蚂蚁花呗</li>
                <li>货到付款</li>
            </div>
            <div class="di-nei-box">
                <li style="font-weight: 800;margin:10px 0; ">商家服务</li>
                <li>天猫规则</li>
                <li>商家入驻</li>
                <li>商家中心</li>
                <li>天猫智库</li>
                <li>物流服务</li>
                <li>喵言喵语</li>
                <li>运营服务</li>
            </div>
            <div class="di-nei-box">
                <li style="font-weight: 800;margin:10px 0; ">手机天猫</li>
                <img src="../image/er.png" alt="">
            </div>
        </main>
    </footer>
    <main class="di-bottom">
        <div class="help">
            <span>关于天猫</span>
            <span>帮助中心</span>
            <span>开房平台</span>
            <span>诚聘英才</span>
            <span>联系我们</span>
            <span>网站合作</span>
            <span>法律声明</span>
            <span>隐私权政策</span>
            <span>知识产权</span>
            <span>廉正举报</span>
            <span>规则意见征集</span><br><br>


            <span>阿里巴巴集团&nbsp;&nbsp;|</span>
            <span>淘宝网&nbsp;&nbsp;|</span>
            <span>天猫&nbsp;&nbsp;|</span>
            <span>聚划算&nbsp;&nbsp;|</span>
            <span>全球速卖通&nbsp;&nbsp;|</span>
            <span>阿里巴巴交易市场&nbsp;&nbsp;|</span>
            <span>1688&nbsp;&nbsp;|</span>
            <span>阿里妈妈&nbsp;&nbsp;|</span>
            <span>Alios&nbsp;&nbsp;|</span>
            <span>阿里通讯&nbsp;&nbsp;|</span>
            <span>万网&nbsp;&nbsp;|</span>
            <span>高德&nbsp;&nbsp;|</span>
            <span>UC&nbsp;&nbsp;|</span>
            <span>友盟&nbsp;&nbsp;|</span>
            <span>虾米&nbsp;&nbsp;|</span>
            <span>钉钉&nbsp;&nbsp;|</span>
            <span>支付宝</span>
            <br>
            <br>
            <div class="br-bottom">
                <span>增值电信业务经营许可证： 浙B2-20110446</span>
                <span> 网络文化经营许可证：浙网文[2015]0295-065号</span>
                <span>12318举报</span>
                <span>出版物网络交易平台服务经营备案证： 新出发浙备字第001号</span>
                <br>
                <span>互联网违法和不良信息举报电话：0571-81683755 blxxjb@alibaba-inc.com</span>
                <span>互联网药品信息服务资质证书编号：浙-（经营性）-2017-0005</span>

                <span><img src="../image/guohui.png" alt="">浙公网安备 33010002000120号</span>
                <br>
                <span>（浙）网械平台备字[2018]第00002号</span>
                <br>
                <span style="display: block"> 2003-2018 TMALL.COM 版权所有</span>
            </div>

            <br>
            <img src="../image/biao1.jpg" alt="">
            <img src="../image/biao2.jpg" alt="">
        </div>
    </main>
<!--底部结束-->
</body>
</html>
<script src="../static/js/jquery-1.12.4.js"></script>
<script src="../static/js/index.js"></script>