<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- 修改视口   手机宽度变为视口宽度-->
	<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>天猫tmall.com</title>
	<link rel="stylesheet" href="../static/css/yidong.css">
	<link rel="stylesheet" href="https://at.alicdn.com/t/font_861781_jj237yxo8md.css">
	<script src="../static/js/rem.js"></script>
</head>
<body>
<!--头部开始-->
	<header>
			<em class="iconfont">&#xe600;</em>
			<img src="../image/yidong/tianmao.webp" alt="">
			<h1>登录</h1>
		<main class="top">
			<li class="iconfont">&#xe64c;</li>
			<input type="text">
		</main>

	</header>
<!--头部结束-->

<!--导航开始-->
<section id="dao">
	<main class="dao-box">
		<img src="../image/yidong/dao/1.webp" alt="">
		<h1>苏宁易购</h1>
	</main>
	<main class="dao-box">
		<img src="../image/yidong/dao/2.webp" alt="">
		<h1>天猫超市</h1>
	</main>
	<main class="dao-box">
		<img src="../image/yidong/dao/3.webp" alt="">
		<h1>天猫国际</h1>
	</main>
	<main class="dao-box">
		<img src="../image/yidong/dao/4.webp" alt="">
		<h1>聚划算</h1>
	</main>
	<main class="dao-box">
		<img src="../image/yidong/dao/5.webp" alt="">
		<h1>分类</h1>
	</main>
</section>
<!--导航结束-->

<!--banner开始-->
<section id="banner">
	<div class="banner">
		<div class="banner-l" style="left:0"><img src="../image/yidong/banner/1.webp" alt=""></div>
		<div class="banner-l" ><img src="../image/yidong/banner/2.webp" alt=""></div>
		<div class="banner-l" ><img src="../image/yidong/banner/3.webp" alt=""></div>
		<div class="banner-l" ><img src="../image/yidong/banner/4.webp" alt=""></div>
		<div class="banner-l" ><img src="../image/yidong/banner/5.webp" alt=""></div>
		<div class="banner-l" ><img src="../image/yidong/banner/6.webp" alt=""></div>
		<div class="banner-l" ><img src="../image/yidong/banner/7.webp" alt=""></div>
		<div class="banner-l" ><img src="../image/yidong/banner/8.webp" alt=""></div>
		<div class="banner-l" ><img src="../image/yidong/banner/9.webp" alt=""></div>
	</div>
	<div class="b-dianbox">
		<div class="b-dian" style="background-color: #fff;"></div>
		<div class="b-dian"></div>
		<div class="b-dian"></div>
		<div class="b-dian"></div>
		<div class="b-dian"></div>
		<div class="b-dian"></div>
		<div class="b-dian"></div>
		<div class="b-dian"></div>
		<div class="b-dian"></div>
	</div>
</section>
<!--banner结束-->

<!--背景开始-->
<section id="bei">
	<img src="../image/yidong/beijing.webp" alt="">
</section>
<!--背景结束-->

<!--好货开始-->
<section id="hao">
	<h1>好货特卖</h1>
	<main class="hao-nei">
		<div class="hao-top">
			<h2>限时抢购</h2>
			<li><span>00</span>:<span>00</span>:<span>00</span></li>
		</div>
		<div class="hao-di">
			<div class="hao-xbox">
				<img src="../image/yidong/hao/1.webp" alt="">
				<h3>实惠好货</h3>
				<h4>$78</h4>
			</div>
			<div class="hao-xbox">
				<img src="../image/yidong/hao/2.webp" alt="">
				<h3>为你精选</h3>
				<h4>$49</h4>
			</div>
			<div class="hao-xbox">
				<img src="../image/yidong/hao/3.webp" alt="">
				<h3>已抢68%</h3>
				<h4>$35</h4>
			</div>
			<div class="hao-xbox">
				<img src="../image/yidong/hao/4.webp" alt="">
				<h3>已抢82%</h3>
				<h4>$128</h4>
			</div>
		</div>
	</main>
</section>
<!--好货结束-->

<!--直售开始-->
<section id="zhi">
	<h1>天猫官方直营</h1>
	<main class="zhi-bottom">
		<div class="zhi-box">
			<span>天猫超市</span>
			<span style="font-size: .2rem">一站购齐, 满88包邮</span>
			<div class="zhi-img">
				<img src="../image/yidong/zhi/1-2.webp" alt="">
				<img src="../image/yidong/zhi/1-2.webp" alt="">
			</div>
		</div>
		<div class="zhi-box">
			<span>国际直营</span>
			<span style="font-size: .2rem">官方采购品质保证</span>
			<div class="zhi-img">
				<img src="../image/yidong/zhi/2-1.webp" alt="">
				<img src="../image/yidong/zhi/2-2.webp" alt="">
			</div>
		</div>
		<div class="zhi-box">
			<span>魅力惠</span>
			<span style="font-size: .2rem">奢品限量3折起</span>
			<div class="zhi-img">
				<img src="../image/yidong/zhi/3-1.webp" alt="">
				<img src="../image/yidong/zhi/3-2.webp" alt="">
			</div>
		</div>
		<div class="zhi-box">
			<span>天猫生鲜</span>
			<span style="font-size: .2rem">舌尖上的盛宴</span>
			<div class="zhi-img">
				<img src="../image/yidong/zhi/4-1.webp" alt="">
				<img src="../image/yidong/zhi/4-2.webp" alt="">
			</div>
		</div>
	</main>
</section>
<!--直售结束-->

<!--精选开始-->
<section id="jing">
	<h1>为你精选</h1>
	<div class="jing-box">
		<div class="jing-xbox">
			<div class="jing-top">
				<img src="../image/yidong/geng/1.webp" alt="">
			</div>
			<div class="jing-bottom">
				<span>MARIE DALGAR/玛丽黛佳</span>
				<h2>玛丽黛佳眉笔持久一字眉雾眉眉粉刷</h2>
				<h3>$47</h3>
				<img src="../image/yidong/geng/1.png" alt="">
			</div>
		</div>
		<div class="jing-xbox">
			<div class="jing-top">
				<img src="../image/yidong/geng/2.webp" alt="">
			</div>
			<div class="jing-bottom">
				<span>恒源祥</span>
				<h2>恒源祥纯棉床笠席梦思床垫套防尘罩</h2>
				<h3>$129</h3>
				<img src="../image/yidong/geng/1.png" alt="">
			</div>
		</div>
		<div class="jing-xbox">
			<div class="jing-top">
				<img src="../image/yidong/geng/3.webp" alt="">
			</div>
			<div class="jing-bottom">
				<span>小白熊</span>
				<h2>小白熊奶瓶带烘干蒸汽0891柜消毒锅</h2>
				<h3>$272</h3>
				<img src="../image/yidong/geng/1.png" alt="">
			</div>
		</div>
		<div class="jing-xbox">
			<div class="jing-top">
				<img src="../image/yidong/geng/5.webp" alt="">
			</div>
			<div class="jing-bottom">
				<span>Decathlon/迪卡侬</span>
				<h2>迪卡侬男女tarmak膝盖篮球装备护膝</h2>
				<h3>$39.9</h3>
				<img src="../image/yidong/geng/1.png" alt="">
			</div>
		</div>
	</div>
	
</section>
<!--精选结束-->

</body>
</html>
<script src="../static/js/jquery-1.12.4.js"></script>
<script src="../static/js/yidong.js"></script>